    <div class="container mx-auto row d-flex justify-content-center align-items-center">
      <div class="col">
        <div class="card card-registration my-4 myRegister">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://cdni.iconscout.com/illustration/premium/thumb/edit-social-media-profile-5295893-4412910.png"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; padding-left: 90px;" />
            </div>
            <div class="col-xl-6 px-md-3 shadow-sm rounded">
              <div class="card-body  text-black">
                {{#if regError}}
                  <div class="text-center alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error !</strong> {{regError}}.
                  </div>
                {{else}} 
                <h4 class="mb-3 text-uppercase text-center">Edit Profile</h4>
              {{/if}}
                <form action="/profile/edit" method="POST">
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">First name</label>
                      <input name="firstname" value="{{profile.firstname}}" type="text" required id="form3Example1m" class="form-control form-control-md" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">Last name</label>
                      <input type="text" name="lastname" value="{{profile.lastname}}" required id="form3Example1n" class="form-control form-control-md" />
                    </div>
                  </div>
                </div>
                <div class="form-outline m2-4">
                  <label for="formFile" class="form-label">Avatar</label>
                  <input required name="image" value="{{profile.ico}}" class="form-control" type="file" id="formFile">
                </div> 

                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example8">Email</label>
                  <input type="email" name="email" required value="{{profile.email}}" id="form3Example8" class="form-control form-control-md" />
                </div>
                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example8">Address</label>
                  <input type="text" name="address" value="{{profile.address}}" required id="form3Example8" class="form-control form-control-md" />
                </div>
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">Phone number</label>
                      <input type="tel" name="number" value="{{profile.number}}" required id="form3Example1m" class="form-control form-control-md" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">Password</label>
                      <input type="password" name="password" required id="form3Example1n" class="form-control form-control-md" placeholder="Please enter your password to update"/>
                    </div>
                  </div>
                </div>

                <div class="form-outline m2-4">
                  <label class="form-label" for="form3Example97">Describe yourself</label>
                  <textarea name="bio" type="text" id="form3Example97" class="form-control form-control-md" placeholder="Bio ...">{{profile.bio}}</textarea>
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button type="submit" class="btn btn-primary btn-md ms-2">Save Changes</button>
                </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>